@import "../scss/log";
@import "../scss/driven";
@import "../scss/carflet";
@import "../scss/cardsubmit";
@import "../scss/modaltsanks";
@import "../scss/map";
// @import "../scss/modal";

html {
   box-sizing: border-box;
   height: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

a {
   text-decoration: none;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}
.footer {
   flex: 0 0 auto;
}

.container {
   max-width: 1420px;
   padding: 0 10px;
   margin: 0 auto;
}
body {
   min-height: 100vh;
   height: 100%;
   font-family: "Gilroy";
   font-weight: 400;
   font-size: 16px;
   /* Переводим в REM  */
   /* делим размер по макуту (16px) */
   /* на 16 (размер шрифта по умолчанию) */
   /* font-size: 1rem; */
}

/* ШРИФТЫ--------------------------------------------------------------------------------------- */
@font-face {
   font-family: "Gilroy";
   src: url("../fonts/Gilroy-Light.eot");
   src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"),
      url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("../fonts/10177.eot");
   src: local("☺"), url("../fonts/10177.woff") format("woff"), url("../fonts/10177.ttf") format("truetype"),
      url("../fonts/10177.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("../fonts/Gilroy-ExtraBold.eot");
   src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
      url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
   font-weight: 900;
   font-style: normal;
}
/* ШРИФТЫ--------------------------------------------------------------------------------------- */

/* HEADER--------------------------------------------------------------------------------------- */
.header {
   background-image: url("../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-bottom: 2px solid #fff;
   /* border-image: linear-gradient(to top, #212121, #535353, #212121); */
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1;
}
.header__top {
   background: #15171e;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 9;
}
.header__top-inner {
   display: flex;
   flex-direction: column;
   /* padding-top: 32px; */
   // padding-top: calc(20px + (32 - 20) * ((100vw - 320px) / (1400 - 320)));
}
.top-menu__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo__box {
   /* margin-right: 200px; */
   margin-right: calc(0px + (50 - 0) * ((100vw - 320px) / (1960 - 320)));
   /* margin-right: 6.25rem; */
   margin-top: 10px;
}
.logo__img {
   /* width: 290px; */
   max-width: calc(120px + (290 - 130) * ((100vw - 320px) / (1960 - 320)));
}
.btnUp {
   background: rgba(99, 99, 99, 0.5);
   color: #fff;
   line-height: 50px;
   height: 50px;
   width: 50px;
   border-radius: 5px;
   text-align: center;
   position: fixed;
   right: 20px;
   bottom: 20px;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.5s;
   pointer-events: none;
}
.btnUp-open {
   opacity: 1;
   pointer-events: all;
   z-index: 100;
}
.menu__list .menu__list-item .menu__link-active {
   color: #ff0;
}

.menu {
   padding-bottom: 15px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.menu__btn {
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   display: none;
}
/* burger start================================================ */
.burger__btn {
   display: none;
   position: absolute;
   top: 10px;
   left: 0px;
   margin: 0;
   padding: 0;
   border: none;
   overflow: hidden;
   width: 35px;
   height: 35px;
   font-size: 0;
   box-shadow: none;
   cursor: pointer;
   background-color: transparent;
   margin-left: 20px;
}
.burger__btn:focus {
   outline: none;
}
.burger-span {
   display: block;
   position: absolute;
   top: 18px;
   right: 3px;
   left: 3px;
   height: 3px;
   background: #fff;
}
.burger-span::before,
.burger-span::after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   width: 100%;
   height: 3px;
   background: #fff;
}
.burger-span::before {
   top: -7px;
}
.burger-span::after {
   bottom: -7px;
}
.burger__btn-line {
   background-color: transparent;
}
.burger__btn-line .burger-span {
   transition: background 0s 0.1s;
}
.burger__btn-line .burger-span::before,
.burger__btn-line .burger-span::after {
   transition-duration: 0.1s, 0.1s;
   transition-delay: 0.1s, 0s;
}
.burger__btn-line .burger-span::before {
   transition-property: top, transform;
}
.burger__btn-line .burger-span::after {
   transition-property: bottom, transform;
}

.burger__btn-line.burger__btn-line--active {
   background-color: transparent;
}
.burger__btn-line.burger__btn-line--active .burger-span {
   background: none;
}
.burger__btn-line.burger__btn-line--active .burger-span::before {
   top: 0;
   transform: rotate(-45deg);
}
.burger__btn-line.burger__btn-line--active .burger-span::after {
   bottom: 0;
   transform: rotate(45deg);
}
.burger__btn-line.burger__btn-line--active .burger-span::before,
.burger__btn-line.burger__btn-line--active .burger-span::after {
   transition-delay: 0s, 0.1s;
}

/* burger  end============================================== */

.menu__list {
   display: flex;
   justify-content: space-between;
}
.menu__list-item + .menu__list-item {
   /* padding-left: 24px; */
   padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / (1960 - 320)));
}
.menu__list-link {
   font-family: "Gilroy";
   font-weight: 400;
   /* font-size: 18px; */
   font-size: calc(18px + (18 - 18) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 40px; */
   /* Переводим в % либо части  */
   /* делим размер по макету (40px) */
   /* на размер шрифта (30px) */
   /* line-height: 25.2px; */
   line-height: 1.4;
   letter-spacing: 0.05em;
   color: #fff;
   opacity: 0.8;
   transition: all 0.3s;
}
.menu-button {
   cursor: pointer;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   font-family: "Gilroy";
   font-weight: 400;
   font-size: calc(7px + (18 - 7) * ((100vw - 320px) / (1960 - 320)));
   line-height: 1.4;
   letter-spacing: 0.05em;
   color: #fff;
   opacity: 0.8;
   transition: all 0.3s;
}
.menu__list-link:hover {
   color: #edc5a2;
   opacity: 0.8;
   transition: all 0.3s;
}
.social__img {
   width: calc(22px + (25 - 22) * ((100vw - 320px) / (1960 - 320)));
   height: calc(25px + (25 - 25) * ((100vw - 320px) / (1960 - 320)));
}
.social__inner {
   padding-bottom: 10px;
   display: flex;
   justify-content: space-between;
}
.social__item {
   /* width: 20px; */
   width: calc(22px + (25 - 22) * ((100vw - 320px) / (1960 - 320)));
   /* height: 20px; */
   height: calc(25px + (25 - 25) * ((100vw - 320px) / (1960 - 320)));
}
.social__item + .social__item {
   /* margin-left: 10px; */
   margin-left: calc(8px + (10 - 8) * ((100vw - 320px) / (1960 - 320)));
}

.contacts__inner {
   display: flex;
   justify-content: flex-end;
}
.phone {
   // margin-right: 280px;
   // margin-left: calc(20px + (290 - 20) * ((100vw - 320px) / (1960 - 320)));
   margin-right: calc(20px + (335 - 20) * ((100vw - 320px) / (1960 - 320)));
   /* padding-bottom: 16px; */
   padding-bottom: calc(0px + (16 - 0) * ((100vw - 320px) / (1960 - 320)));
}
.phone__link {
   /* font-size: 36px; */
   font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 43.2px;
   line-height: 1.2;
   font-weight: 800;
   color: #edc5a2;
   letter-spacing: 0.05em;
}
.market {
   display: flex;
   justify-content: space-between;
   // padding-left: calc(20px + (120 - 20) * ((100vw - 320px) / (1960 - 320)));
}
.market__link {
   margin-left: 23px;
}
.market__img {
   /* max-width: 150px; */
   max-width: calc(27px + (150 - 27) * ((100vw - 320px) / (1960 - 320)));
}
.header__content {
   padding-top: 131px;
   background-color: rgba(10, 12, 17, 0.8);
}

.header__content-inner {
   /* min-height: calc(100vh - 130px); */
   /* display: flex;
   flex-direction: column;
   align-items: center; */
   padding-bottom: 157px;
}
.title__inner {
   display: flex;
   justify-content: space-between;
   padding-bottom: 0px;
}
.title__box {
   text-align: center;
   margin: 0 auto;
}
.content-sub-title {
   /* font-size: 36px; */
   /* font-size: 2.25rem; */
   font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 42px; */
   line-height: 1.17;
   color: #fff;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   /* padding-top: 130px; */
   padding-top: calc(40px + (130 - 40) * ((100vw - 320px) / (1960 - 320)));
   padding-bottom: 16px;
}
.header__sub-title {
   font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1960 - 320)));
}
.content-title {
   /* font-size: 72px; */
   /* font-size: 4.5rem; */
   font-size: calc(26px + (72 - 26) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 92px; */
   line-height: 1.25;
   font-weight: 900;
   letter-spacing: 0.1em;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px#edc5a2;
}
.title__button {
   padding-top: 130px;
   padding-right: 5px;
   /* width: 48px; */
   width: calc(24px + (48 - 24) * ((100vw - 320px) / (1960 - 320)));
   /* height: 47px; */
   height: calc(22px + (47 - 22) * ((100vw - 320px) / (1960 - 320)));
}
.slider {
   width: calc(300px + (650 - 300) * ((100vw - 320px) / (1960 - 320)));
   height: 100%;
}

/* SWIPER--------------------------------------------------------------------- */
.btn-container {
   display: flex;
   justify-content: flex-end;
   margin-right: 150px;
   height: calc(68px + (88 - 68) * ((100vw - 320px) / (1960 - 320)));
}
.swiper-wrapper {
   width: 100%;
   /* padding-top: 50px;
   padding-bottom: 50px; */
}
.arrows {
   width: 100px;
}
.swiper-slide {
   background-position: center;
   background-size: cover;
   /* width: 650px;
   height: 450px; */
   width: 100%;
   height: 100%;
}
.swiper-pagination__inner {
   padding-bottom: 30px;
   position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
   background-color: #fff;
   position: absolute;
   left: 0;
   top: 30px;
   width: 100%;
   height: 100%;
   transform: scale(0);
   transform-origin: left top;
   z-index: 9;
}
.swiper-pagination-progressbar {
   background-color: transparent;
   position: absolute;
}
.swiper-button-prev,
.swiper-button-next {
   position: static;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   /* width: 50px; */
   width: calc(30px + (50 - 30) * ((100vw - 320px) / (1960 - 320)));
   height: 60px;
   padding-top: 60px;
   padding-bottom: 50px;
}

.swiper-button-prev {
   background-image: url("../images/arrow-left-slider.svg");
   margin-right: 10px;
}
.swiper-button-next {
   background-image: url("../images/arrow-right-slider.svg");
   margin-left: 10px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
   font-size: 0;
}
.circle {
   margin-top: 30px;
}
/* SWIPER--------------------------------------------------------------------- */

/* types-rent----------------------------------------------------------------- */
.types-rent {
   background-color: #0a0c11;
   /* padding-top: 140px; */
   /* padding-top: 8.75rem; */
   padding-top: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
   /* padding-bottom: 141px; */
   /* padding-bottom: 8.8125rem; */
   padding-bottom: calc(24px + (141 - 24) * ((100vw - 320px) / (1960 - 320)));
   border-bottom: 2px solid #fff;
   /* border-image: linear-gradient(to top, #212121, #535353, #212121); */
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1;
}
.title-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.sub-title {
   /* font-size: 24px; */
   font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 28.8px; */
   line-height: calc(16.8px + (28.8 - 16) * ((100vw - 320px) / (1960 - 320)));
   color: #fff;
   text-transform: uppercase;
   padding-bottom: 8px;
}
.title {
   /* font-size: 48px; */
   font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 61.2px; */
   line-height: calc(30.6px + (61.2 - 30.6) * ((100vw - 320px) / (1960 - 320)));
   font-weight: 900;
   letter-spacing: 0.1em;
   color: #fff;
   text-transform: uppercase;
   color: #edc5a2;
}
.types-rent__slider {
   overflow: hidden;
   /* margin-top: 80px; */
   margin-top: calc(40px + (80 - 40) * ((100vw - 320px) / (1960 - 320)));
}
.rent__swiper-slide {
   position: relative;
   height: 100%;
}
.slider-link {
   position: absolute;
   color: #fff;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 25.6px;
   right: 50px;
   bottom: 18px;
   text-align: center;
   padding: 14px 32px 8px;
   border: 1px solid #fff;
   border-radius: 6px;
   background: rgba(255, 255, 255, 0.3);
   transition: all 0.3s;
}
.slider-link:hover {
   color: #111;
   background: rgba(255, 255, 255, 0.9);
   transition: all 0.3s;
}
/* car-fleet------------------------------------------------------------------------------------------------ */
.car-fleet {
   background-color: #15171e;
   border-bottom: 2px solid #fff;
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1;
}
.car-fleet__title {
   /* padding-top: 70px; */
   padding-top: calc(40px + (119 - 40) * ((100vw - 320px) / (1960 - 320)));
   /* padding-bottom: 42px; */
   padding-bottom: calc(16px + (42 - 16) * ((100vw - 320px) / (1960 - 320)));
}
.sub-title__box {
   display: flex;
   justify-content: space-between;
   padding-left: 24px;
}

.sub-title__text + .sub-title__text {
   padding-left: 24px;
   border-left: 1px solid #fff;
}
.sub-title__text {
   padding-right: 24px;
}
.sub-title__link {
   text-transform: uppercase;
   /* font-size: 24px; */
   font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 28.8px; */
   line-height: calc(16.8px + (28.8 - 16.8) * ((100vw - 320px) / (1960 - 320)));
   color: #fff;
   transition: all 0.3s;
}
.sub-title__link:hover {
   color: yellow;
   transition: all 0.3s;
}
.car-fleet__slider {
   overflow: hidden;
   /* padding-bottom: 140px; */
   padding-bottom: calc(0px + (140 - 0) * ((100vw - 320px) / (1960 - 320)));
}
/* rental-terms------------------------------------------------------------------------- */
.rental-terms {
   background-image: url("../images/rental-terms-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-bottom: 2px solid #fff;
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1;

   overflow: hidden;
}
.rental-terms__inner {
   background: linear-gradient(180.3deg, #15171e 7.47%, rgba(21, 23, 30, 0.61) 57.28%, #15171e 91.36%);
}
.rental-terms-box {
   /* padding: 140px 0 80px; */
   padding-top: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
   padding-bottom: calc(33px + (80 - 33) * ((100vw - 320px) / (1960 - 320)));
}
.rental-terms__content {
   display: flex;
   justify-content: space-between;
}
/* ACCORDION    start----------------------------------------------------------------- */
.accordeon-body {
   /* max-width: 795px; */
   max-width: 47.8125rem;
}
.accordeon-box {
   border-bottom: 1px solid #fff;
}
.accordeon-btn {
   /* font-size: 18px; */
   /* font-size: 1.125rem; */
   font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 21.6px; */
   line-height: 1.2;
   font-weight: bold;
   color: #fff;
   cursor: pointer;
   background: linear-gradient(180.3deg, #15171e 7.47%, rgba(21, 23, 30, 0.61) 57.28%, #15171e 91.36%);
   padding: 18px;
   /* min-width: 612px; */
   /* min-width: 38.25rem; */
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   transition: 0.4s;
   position: relative;
}
.accordeon-btn:after {
   content: "";
   position: absolute;
   top: 25px;
   right: 10px;
   background-image: url("../images/arrow-up.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 12px;
   height: 8px;
}
.active:after {
   position: absolute;
   top: 15px;
   right: 10px;
   background-image: url("../images/arrow-down.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 12px;
   height: 8px;
}
.panel {
   background: linear-gradient(180.3deg, #15171e 7.47%, rgba(21, 23, 30, 0.61) 57.28%, #15171e 91.36%);
   /* max-width: 795px; */
   max-width: 47.8125rem;

   overflow: hidden;
   max-height: 0;
   transition: max-height 0.3s ease-out;
}
.item__text {
   position: relative;
   list-style: none;
   /* font-size: 16px; */
   font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 25.6px; */
   line-height: 1.5;
   color: #fff;
   letter-spacing: 0.05em;
   padding-left: 30px;
}
.item__text::before {
   position: absolute;
   content: "";
   background-image: url("../images/line.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   top: 12px;
   left: 7px;
   width: 15px;
   height: 15px;
}
/* ACCORDION    end----------------------------------------------------------------- */
.rental-terms__card {
   background: #232731;
   /* width: 391px; */
   max-width: 24.4375rem;
   /* width: calc(0px + (391 - 0) * ((100vw - 320px) / (1960 - 320))); */
   /* max-height: 658px; */
   max-height: 41.125rem;
   /* max-height: calc(658px + (658 - 658) * ((100vw - 320px) / (1400 - 320))); */
   /* margin-left: 232px; */
   /* margin-left: 14.5rem; */
   /* margin-left: calc(0px + (232 - 0) * ((100vw - 320px) / (1400 - 320))); */
   /* padding-bottom: 43px; */
   padding-bottom: 2.6875rem;
   /* margin-bottom: 140px; */
   /* margin-bottom: 8.75rem; */
   margin-bottom: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
}
.card__items {
   position: relative;
}
.card__items::after {
   content: "";
   /* width: 391px; */
   /* min-width: 24.4375rem; */
   width: 100%;
   /* width: calc(30px + (391 - 30) * ((100vw - 320px) / (1400 - 320))); */
   /* height: 706px; */
   /* min-height: 44.125rem; */
   height: 115%;
   /* min-height: calc(706px + (706 - 706) * ((100vw - 320px) / (1400 - 320))); */
   position: absolute;
   border: 1px solid #edc5a2;
   top: -24px;
   left: 24px;
}
.card__item {
   /* min-width: 206px; */
   min-width: 12.875rem;
   /* min-width: calc(0px + (206 - 0) * ((100vw - 320px) / (1400 - 320))); */
   /* padding: 43px 98px 0 87px; */
   padding: 2.6875rem 6.125rem 0 5.4375rem;
}
.card__item-title {
   /* font-size: 18px; */
   font-size: 1.125rem;
   /* line-height: 21.6px; */
   line-height: 1.2;
   font-weight: 800;
   color: #fff;
   padding-bottom: 8px;
   position: relative;
   text-transform: uppercase;
}
.card__item-title::before {
   position: absolute;
   content: "";
   top: 1px;
   left: -30px;
   width: 18px;
   height: 18px;
}
.card__item-title--docs::before {
   background: url("../images/icons/card-docs.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-title--age::before {
   background: url("../images/icons/card-age.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-title--experience::before {
   background: url("../images/icons/card-experience.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-title--timeline::before {
   background: url("../images/icons/card-timeline.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-title--price::before {
   background: url("../images/icons/card-price.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-title--control::before {
   background: url("../images/icons/card-car-control.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.card__item-text {
   /* font-size: 16px; */
   font-size: 1rem;
   /* line-height: 25.6px; */
   line-height: 1.6;
   color: #fff;
   letter-spacing: 0.05em;
}

// for-business start ======================================================================================
.for-business {
   background-color: #0a0c11;
   // padding-bottom: 140px;
   padding-bottom: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
   border-bottom: 2px solid #fff;
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1;
}
.business__sub-title {
   // margin-top: 140px;
   margin-top: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
}
.business__title {
   // margin-bottom: 80px;
   margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1960 - 320)));
}
.business__content {
   display: flex;
   justify-content: flex-end;
   background-image: url("../images/bisness-bg.jpg");
   background-repeat: no-repeat;
   // background-position: left center;
   background-position: 15%;
   background-size: cover;
}
.business-content__inner {
   background-color: #232731;
   // max-width: 584px;
   max-width: calc(300px + (500 - 300) * ((100vw - 320px) / (1960 - 320)));
   // padding: 50px 0 26px 89px;
   padding-top: calc(16px + (50 - 16) * ((100vw - 320px) / (1960 - 320)));
   padding-bottom: calc(16px + (26 - 16) * ((100vw - 320px) / (1960 - 320)));
   padding-left: calc(39px + (89 - 39) * ((100vw - 320px) / (1960 - 320)));
   // margin: 50px 0;
   margin-top: calc(0px + (50 - 0) * ((100vw - 320px) / (1960 - 320)));
   margin-bottom: calc(24px + (50 - 24) * ((100vw - 320px) / (1960 - 320)));
}
.business-content__title {
   // font-size: 24px;
   font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 28.8px;
   line-height: 1.2;
   font-weight: 900;
   color: #fff;
   text-transform: uppercase;
   // margin-bottom: 24px;
   margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1960 - 320)));
}
.business-content__items {
   position: relative;
}
.business-content__items::after {
   pointer-events: none;
   position: absolute;
   content: "";
   border: 1px solid #edc5a2;
   top: -100px;
   left: -55px;
   width: 115%;
   height: 135%;
}
.business-content__item {
   position: relative;
   // font-size: 16px;
   font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 25.6px;
   line-height: 1.6;
   letter-spacing: 0.05em;
   color: #fff;
   // padding-bottom: 16px;
   padding-bottom: calc(9px + (16 - 9) * ((100vw - 320px) / (1960 - 320)));
}
.business-content__item::before {
   position: absolute;
   content: "";
   background-image: url("../images/line.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   top: 12px;
   left: -30px;
   width: 15px;
   height: 15px;
}
.description {
   font-weight: 800;
   font-size: 14px;
   line-height: 16.8px;
   color: #edc5a2;
   text-transform: uppercase;
   padding-top: 10px;
}
// for-business end =======================================================================================

/* reviews---------------------------------------------- */
.reviews {
   background: #0a0c11;
}
.reviews-box {
   /* padding-top: 138px; */
   padding-top: calc(40px + (130 - 40) * ((100vw - 320px) / (1960 - 320)));
   /* padding-bottom: 81px; */
   padding-bottom: calc(40px + (81 - 40) * ((100vw - 320px) / (1960 - 320)));
}
.swiper-duo {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
}
.swiper-slide-duo {
   background-size: cover;
   background-position: center;
}
.myswiper2 {
   height: 50%;
   width: 50%;
   margin-right: 1%;
   overflow: hidden;
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   /* padding-bottom: 140px; */
   padding-bottom: calc(25px + (140 - 25) * ((100vw - 320px) / (1960 - 320)));
   background-color: #15171e;
   /* border-left: 0px solid #fff;
   border-image: linear-gradient(to left, #0a0c11, #333, #0a0c11);
   border-image-slice: 1; */
}
.myswiper-smol {
   width: 80%;
   height: 10%;
   box-sizing: border-box;
   padding: 10px 0;
}
.myswiper-smol .swiper-slide-duo {
   width: 20%;
   height: 100%;
   opacity: 0.4;
}
.myswiper-smol .swiper-slide-thumb-active {
   opacity: 1;
}
.swiper-slide-duo img {
   display: block;
   /* width: 100%;
   height: 100%; */
   object-fit: cover;
   /* top: 0;
   left: 0; */
}
.reviews-box__user {
   width: 221px;
   height: 68px;
   display: flex;
   justify-content: space-between;
}
.reviews-photo__smoll {
   width: 58px;
   height: 58px;
   border-radius: 50%;
   margin-right: 8px;
}
.reviews-box__info {
   display: flex;
   flex-direction: column;
}
.user-name {
   /* font-size: 18px; */
   font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 21.6px; */
   line-height: 1.2;
   font-weight: 800;
   text-transform: uppercase;
   color: #fff;
}
.user-city {
   /* font-size: 16px; */
   font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 25.6px; */
   line-height: 1.6;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #fff;
   opacity: 0.8;
}
.reviews-text__box {
   /* max-width: 584px; */
   max-width: 36.5rem;
}
.reviews-title {
   font-weight: 800;
   /* font-size: 36px; */
   font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 43.2px; */
   line-height: 1.2;
   color: #fff;
   letter-spacing: 0.05em;
   margin-bottom: 17px;
}
.reviews-text {
   /* font-size: 16px; */
   font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 25.6px; */
   line-height: 1.4;
   letter-spacing: 0.05em;
   color: #fff;
   opacity: 0.8;
   margin-bottom: 28px;
}
.star-box {
   display: flex;
   justify-content: space-between;
}
.rate {
   width: 165px;
}
.more__link {
   /* font-size: 18px; */
   font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1960 - 320)));
   /* line-height: 25.2px; */
   line-height: 1.4;
   color: #edc5a2;
   letter-spacing: 0.05em;
}
.btn-container-duo {
   display: flex;
   justify-content: center;
   margin-right: 430px;
}
.swiper-button-prev-duo,
.swiper-button-next-duo {
   position: static;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
   /* width: 50px; */
   width: calc(30px + (50 - 30) * ((100vw - 320px) / (1960 - 320)));
   height: 60px;
   padding-top: 10px;
   padding-bottom: 50px;
   cursor: pointer;
}

.swiper-button-prev-duo {
   background-image: url("../images/arrow-left-slider.svg");
   margin-right: 10px;
}
.swiper-button-next-duo {
   background-image: url("../images/arrow-right-slider.svg");
   margin-left: 10px;
}
.swiper-button-prev-duo:after,
.swiper-button-next-duo:after {
   font-size: 0;
}

.myswiper2-box {
   display: flex;
   justify-content: space-between;
   /* padding-bottom: 30px; */
}
.video {
   position: relative;
   /* width: 972px; */
   /* width: 60.75rem; */
   width: 60%;
   /* margin-left: 120px; */
   /* margin-left: 7.5rem; */
   background-image: url("../images/video-bg.jpg");
   background-position: center center;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.video::after {
   pointer-events: none;
   position: absolute;
   content: "";
   border: 1px solid #edc5a2;
   top: -30px;
   left: 30px;
   width: 100%;
   height: 100%;
}
.video-img {
   /* cursor: pointer; */
   width: calc(80px + (114 - 80) * ((100vw - 320px) / (1960 - 320)));
}
// contacts  start----------------------------------------------------------------------------------------
.contacts {
   background-color: #232731;
}
.contacts__box {
   display: flex;
   align-items: center;
   justify-content: center;
}
.contacts__title {
   // padding-top: 140px;
   padding-top: calc(40px + (140 - 40) * ((100vw - 320px) / (1960 - 320)));
   // padding-bottom: 60px;
   padding-bottom: calc(24px + (60 - 24) * ((100vw - 320px) / (1960 - 320)));
}
.contacts__sub-title {
   // padding-bottom: 80px;
   padding-bottom: calc(0px + (80 - 0) * ((100vw - 320px) / (1960 - 320)));
   display: inline-block;
   margin-right: auto;
}
.details {
   // padding-bottom: 110px;
   padding-bottom: calc(38px + (110 - 38) * ((100vw - 320px) / (1960 - 320)));
}
.details__items {
   display: flex;
   justify-content: space-between;
}
.details__item {
   // min-width: 281px;
   min-width: calc(190px + (281 - 190) * ((100vw - 320px) / (1960 - 320)));
}
.item-block {
   margin-bottom: 24px;
}
.details__item + .details__item {
   // margin-left: 127px;
   margin-left: calc(10px + (127 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.item-title {
   // font-size: 14px;
   font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 16.8px;
   line-height: 1.2;
   color: #fff;
   padding-bottom: 8px;
}
.item-text {
   // font-size: 18px;
   font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 21.6px;
   line-height: 1.2;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}
.item__phone-link {
   color: #fff;
}
.item-text__address {
   // max-width: 331px;
   max-width: calc(155px + (331 - 155) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 30px;
   line-height: 1.67;
}
.contacts-map__box {
   background-image: url("../images/map-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.contacts-map__box-inner {
   display: flex;
   justify-content: space-between;
}
.map-modal {
   background: #232731;
   // width: 600px;
   width: calc(283px + (600 - 0) * ((100vw - 320px) / (1960 - 320)));
   // height: 439px;
   // height: calc(363px + (439 - 83) * ((100vw - 320px) / (1960 - 320)));
   // margin: 92px 264px 118px 0;
   margin-top: calc(15px + (92 - 15) * ((100vw - 320px) / (1960 - 320)));
   margin-right: calc(15px + (264 - 15) * ((100vw - 320px) / (1960 - 320)));
   margin-bottom: calc(15px + (118 - 15) * ((100vw - 320px) / (1960 - 320)));
   // padding-left: 45px;
   padding-left: calc(10px + (45 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.modal-item {
   border-bottom: 2px solid #fff;
   border-image: linear-gradient(to left, #232731, #555, #232731);
   border-image-slice: 1;
}
.modal-item-address,
.modal-item-mail {
   position: relative;
   margin-left: 35px;
}
.modal-item-address::after,
.modal-item-mail::after {
   position: absolute;
   content: "";
   top: 17px;
   left: -39px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.modal-item-address::after {
   background-image: url("../images/icons/location1.svg");
   // width: 23px;
   width: calc(15px + (23 - 15) * ((100vw - 320px) / (1960 - 320)));
   // height: 30px;
   height: calc(18px + (30 - 18) * ((100vw - 320px) / (1960 - 320)));
}
.modal-item-mail::after {
   background-image: url("../images/icons/email.svg");
   // width: 26px;
   width: calc(17px + (26 - 17) * ((100vw - 320px) / (1960 - 320)));
   // height: 17px;
   height: calc(15px + (17 - 15) * ((100vw - 320px) / (1960 - 320)));
}
.modal-item .modal-title-big {
   font-weight: 900;
   // font-size: 30px;
   font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 36px;
   line-height: 1.2;
   color: #fff;
   padding-bottom: 9px;
}
.modal-title,
.modal-text-link,
.modal-text {
   // font-size: 16px;
   font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 19.09px;
   line-height: 1.25;
   color: #cfcfcf;
}
.modal-text {
   padding-bottom: 14px;
}
.modal-title {
   padding-top: 15px;
}
.bottom__modal-item {
   border: none;
   margin-top: 24px;
}
.bottom__modal-inner {
   display: flex;
   justify-content: space-between;
}
.bottom__modal-left {
   display: flex;
   flex-direction: column;
}
.bottom__modal-btn {
   // margin-top: 24px;
   margin-top: calc(19px + (24 - 19) * ((100vw - 320px) / (1960 - 320)));
   background: rgba(255, 255, 255, 0.05);
}
.bottom__modal-link {
   display: inline-block;
   text-transform: uppercase;
   color: #fff;
   font-weight: 800;
   font-size: 18px;
   // line-height: 21.6px;
   line-height: 1.2;
   border: 1px solid #ffffff;
   border-radius: 6px;
   padding: 15px 25px;
}
.social-description {
   // font-size: 16px;
   font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 25.6px;
   line-height: 1.6;
   color: #ffffff;
   // margin-top: 41px;
   margin-top: calc(12px + (41 - 12) * ((100vw - 320px) / (1960 - 320)));
}
.bottom__modal-right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   // margin-right: 73px;
   margin-right: calc(0px + (73 - 0) * ((100vw - 320px) / (1960 - 320)));
}
.modal-right__phone,
.modal-right__phone-link {
   font-weight: 900;
   // font-size: 24px;
   font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 28.8px;
   line-height: 1.2;
   color: #fff;
   text-transform: uppercase;
   padding-bottom: 15px;
   margin-top: 20px;
}

.modal-right__text {
   // font-size: 14px;
   font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 16.8px;
   line-height: 1.2;
   color: #babfc3;
   // margin-bottom: 40px;
   margin-bottom: calc(19px + (40 - 19) * ((100vw - 320px) / (1960 - 320)));
}
.modal-right-social__inner {
   display: flex;
   justify-content: flex-start;
}
// contacts  end----------------------------------------------------------------------------------------
// footer ---------------------------------------------------------------------------------------
.footer {
   background-color: #15171e;
   display: flex;
   justify-content: center;
}
.footer__logo-box {
   padding-top: 24px;
   padding-bottom: 17px;
   margin: 0;
   display: flex;
   justify-content: center;
}
.footer-menu {
   margin-bottom: 55px;
}
.footer-menu__list {
   display: flex;
   justify-content: center;
}
.copyright {
   font-size: 13px;
   line-height: 30px;
   letter-spacing: 1px;
   color: #fff;
   text-align: center;
   margin-bottom: 8px;
}
.copyright span {
   font-weight: 800;
   text-transform: uppercase;
}
.confidentiality-policy {
   font-size: 16px;
   line-height: 25.6px;
   letter-spacing: 0.05em;
   color: #fff;
   opacity: 0.7;
   text-align: center;
   margin-bottom: 18px;
}
.footer-social__inner {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

// LOG============================================================================================================
.main-log {
   // padding-top: 106px;
   padding-top: calc(10px + (106 - 10) * ((100vw - 320px) / (1960 - 320)));
   background-color: #15171e;
   // margin-top: 100px;
   margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1960 - 320)));
   // padding-bottom: 100px;
   padding-bottom: calc(10px + (100 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.log-box {
   margin: 0 auto;
   // width: 380px;
   width: calc(300px + (380 - 300) * ((100vw - 320px) / (1960 - 320)));
   // height: 626px;
   height: calc(350px + (626 - 350) * ((100vw - 320px) / (1960 - 320)));
   background: #232731;
   border-radius: 5px;
   padding: 5px;
}
.btn-block {
   display: flex;
   justify-content: space-around;
   padding-top: 32px;
}
.log-in,
.registration {
   padding: 0;
   margin: 0;
   border: none;
   background-color: transparent;
   // font-size: 16px;
   font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 25.6px;
   line-height: 1.6;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 800;
   // padding: 14px 47px 8px;
   padding-bottom: calc(5px + (8 - 5) * ((100vw - 320px) / (1960 - 320)));
   padding-top: calc(10px + (14 - 10) * ((100vw - 320px) / (1960 - 320)));
   padding-left: calc(30px + (47 - 30) * ((100vw - 320px) / (1960 - 320)));
   padding-right: calc(30px + (47 - 30) * ((100vw - 320px) / (1960 - 320)));
   border: 1px solid #fff;
   border-radius: 6px;
}

// SPECIAL start =============================================================================================
.main-special {
   background-image: url("../images/special-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
.special-box {
   // padding-top: 100px;
   padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1960 - 320)));
   // padding-bottom: 350px;
   padding-bottom: calc(36px + (350 - 36) * ((100vw - 320px) / (1960 - 320)));
}
.label-block {
   // padding-bottom: 190px;
   padding-bottom: calc(10px + (190 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.label-block__top,
.label-block__bottom {
   display: flex;
   justify-content: center;
}
.label-block__bottom,
.label-block__top {
   // margin-bottom: 25px;
   margin-bottom: calc(8px + (25 - 8) * ((100vw - 320px) / (1960 - 320)));
}
.label-block__item + .label-block__item {
   // margin-left: 30px;
   margin-left: calc(16px + (30 - 16) * ((100vw - 320px) / (1960 - 320)));
}

.label-block__item {
   position: relative;
   // font-size: 24px;
   font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1960 - 320)));
   // line-height: 28.8px;
   line-height: 1.2;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   // padding: 25px 25px 25px 90px;
   padding-top: calc(8px + (25 - 8) * ((100vw - 320px) / (1960 - 320)));
   padding-right: calc(22px + (25 - 22) * ((100vw - 320px) / (1960 - 320)));
   padding-bottom: calc(8px + (25 - 8) * ((100vw - 320px) / (1960 - 320)));
   padding-left: calc(45px + (90 - 45) * ((100vw - 320px) / (1960 - 320)));
   background: #232731;
   border-radius: 5px;
   margin-top: calc(16px + (25 - 16) * ((100vw - 320px) / (1960 - 320)));
}
.label-block__item::before {
   position: absolute;
   content: "";
   top: 19px;
   left: 27px;
   // width: 49px;
   width: calc(17px + (49 - 17) * ((100vw - 320px) / (1960 - 320)));
   // height: 42px;
   height: calc(15px + (42 - 15) * ((100vw - 320px) / (1960 - 320)));
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.label-block__item--airplane::before {
   background-image: url("../images/icons/airplane.svg");
}
.label-block__item--user::before {
   background-image: url("../images/icons/user-list.svg");
}
.label-block__item--heart::before {
   background-image: url("../images/icons/heart.svg");
}
.label-block__item--clock::before {
   background-image: url("../images/icons/clock.svg");
}
.label-block__item--videocamera::before {
   background-image: url("../images/icons/videocamera.svg");
}
.label-block__item--hand::before {
   background-image: url("../images/icons/handshake.svg");
}
.label-block__item--question::before {
   background-image: url("../images/icons/question-mark.svg");
}
.label-block__item-link {
   color: #fff;
}
.label-block__item-dating {
   background-color: rgba(252, 192, 42, 0.25);
   border: 1px solid #fcc02a;
   text-align: center;
   padding-left: calc(25px + (25 - 25) * ((100vw - 320px) / (1960 - 320)));
}

// SPECIAL end ===============================================================================================

// DRIVERLESS start===========================================================================================
.main-driverless {
   // padding-top: 106px;
   padding-top: calc(10px + (106 - 10) * ((100vw - 320px) / (1960 - 320)));
   background-color: #15171e;
}
.driverless-title {
   // margin-bottom: 80px;
   margin-bottom: calc(10px + (80 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.driverless__sub-title {
   padding-top: calc(70px + (130 - 40) * ((100vw - 320px) / (1960 - 320)));
}

.driverless__content {
   background-image: url("../images/driverless-bg.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
.driverless__content-info {
   display: flex;
   justify-content: flex-end;
}

.driverless__card {
   margin-bottom: calc(0px + (70 - 0) * ((100vw - 320px) / (1960 - 320)));
   margin-top: calc(0px + (70 - 0) * ((100vw - 320px) / (1960 - 320)));
   padding: 0;
}
.driverless__item {
   margin-top: 10px;
   /* min-width: 206px; */
   // min-width: 12.875rem;
   min-width: calc(0px + (206 - 0) * ((100vw - 320px) / (1960 - 320)));
   /* padding: 43px 98px 0 87px; */
   // padding: 2.6875rem 6.125rem 0 5.4375rem;
   padding-top: calc(10px + (10 - 10) * ((100vw - 320px) / (1960 - 320)));
   padding-right: calc(10px + (58 - 10) * ((100vw - 320px) / (1960 - 320)));
   padding-left: calc(10px + (100 - 10) * ((100vw - 320px) / (1960 - 320)));
}
.driverless__items {
   position: relative;
   padding-bottom: 20px;
}
.driverless__items::before {
   content: "";
   width: 100%;
   height: 115%;
   position: absolute;
   border: 1px solid #edc5a2;
   top: -35px;
   left: -15px;
}
// DRIVERLESS start===========================================================================================

/* АДАПТИВ===================================================================================================== */

@media (max-width: 1280px) {
   .header__content-inner {
      padding-bottom: 100px;
   }
   .btn-container {
      margin-right: 35px;
   }
   .business__content {
      background-image: url("../images/bisness-bgx1280.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }
   .driverless__content {
      background-image: url("../images/driverless-bgx1280.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }
}

@media (max-width: 1200px) {
   .rental-terms__inner {
      padding-bottom: 40px;
   }
   .rental-terms__content {
      display: flex;
      flex-flow: wrap;
   }
   .rental-terms__accordion,
   .accordeon-body {
      min-width: 100%;
   }
   .rental-terms__card {
      max-width: 100%;
   }

   .rental-terms__card {
      order: 1;
   }
   .rental-terms__accordion {
      order: 2;
   }
   .panel {
      min-width: 100%;
   }
   .card__items {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      background-color: #232731;
      padding: 10px;
      row-gap: 10px;
      column-gap: 10px;
   }
   .card__items::after {
      top: -15px;
      left: 0px;
      right: 24px;
      bottom: 50px;
      width: 100%;
      min-height: 100%;
      pointer-events: none;
   }
   .card__item {
      min-width: 250px;
      flex: 1 1 33%;
      padding: 15px 15px 15px 50px;
      border-right: 2px solid rgba(255, 255, 255, 0.5);
      /* box-shadow: ; */
   }
   .myswiper2 {
      width: 100%;
   }
   .video {
      width: 100%;
      margin-left: 20px;
   }
   .btn-container-duo {
      display: flex;
      justify-content: flex-start;
   }
   .driverless__items::before {
      content: "";
      width: 100%;
      height: 115%;
      position: absolute;
      border: 1px solid #edc5a2;
      top: -27px;
      left: -15px;
      height: 107%;
      width: 106%;
   }
   .driverless__item {
      border-right: none;
   }
}

@media (max-width: 1100px) {
   .menu__list-link {
      font-size: 16px;
      padding-left: 0px;
   }
   .menu__list-item + .menu__list-item {
      padding-left: 10px;
   }
}

@media (max-width: 1000px) {
   .header__content-inner {
      padding-bottom: 80px;
   }
   .business__content {
      background-image: url("../images/bisness-bgx1000.jpg");
      background-repeat: no-repeat;
      background-position: 15%;
      background-size: cover;
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -83px;
      left: -55px;
      width: 115%;
      height: 133%;
   }
   .driverless__content {
      background-image: url("../images/driverless-bgx1000.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-position-x: 0%;
   }
}

@media (max-width: 960px) {
   .menu__list-link {
      font-size: 15px;
   }
}

@media (max-width: 870px) {
   .menu__list-link {
      font-size: 14px;
   }
   .menu__list-item + .menu__list-item {
      padding-left: 5px;
   }
   .logo__box {
      margin-right: 0;
   }
}

@media (max-width: 850px) {
   .bottom__modal-inner {
      display: flex;
      flex-wrap: wrap;
   }
}
@media (max-width: 800px) {
   .menu__inner {
      margin-right: 0;
   }
   .header__content-inner {
      padding-bottom: 70px;
   }
   .menu__list-link {
      font-size: 13.5px;
   }
}

@media (max-width: 768px) {
   .burger__btn {
      display: block;
   }
   .menu__list {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 49px;
      text-align: center;
      background-color: #15171e;
      // height: 238px;
      height: 270px;
      transform: translateX(-200%);
      transition: all 0.5s;
   }
   .menu__list--active {
      transform: translateX(0%);
      transition: all 0.5s;
   }
   .menu__list-item + .menu__list-item {
      padding-left: 0;
   }
   .menu__list-link {
      // font-size: 16px;
      font-size: 20px;
      font-weight: 800;
      display: block;
      padding-top: 15px;
   }
   .header__content-inner {
      padding-bottom: 50px;
   }
   .title__button {
      padding-top: 60px;
      padding-right: 0;
      margin-right: 10px;
   }
   .logo__box {
      display: flex;
      justify-content: space-between;
      margin-left: 60px;
   }
   .btnUp {
      right: 30px;
      bottom: 60px;
   }
   .myswiper2 {
      margin-bottom: 19px;
   }
   .myswiper2-box {
      display: flex;
      flex-wrap: wrap;
   }
   .btn-container-duo {
      display: flex;
      justify-content: flex-end;
   }
   .video {
      height: calc(160px + (973 - 160) * ((100vw - 320px) / (1960 - 320)));
   }
   .footer__logo-box {
      display: flex;
      justify-content: center;
   }
   .footer-menu__list {
      display: flex;
   }
   .footer-menu__list-item + .footer-menu__list-item {
      /* padding-left: 24px; */
      padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / (1960 - 320)));
   }
   .footer-menu__list-link {
      font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1960 - 320)));
      line-height: 1.4;
      letter-spacing: 0.05em;
      color: #fff;
      opacity: 0.8;
      transition: all 0.3s;
   }
   .business__content {
      background-image: url("../images/bisness-bgx768.jpg");
      background-repeat: no-repeat;
      background-position: 15%;
      background-size: cover;
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -73px;
      left: -55px;
      width: 115%;
      height: 130%;
   }
   .details__items {
      display: flex;
      flex-wrap: wrap;
   }
   .label-block {
      display: flex;
      flex-wrap: wrap;
   }
   .label-block__top,
   .label-block__bottom {
      display: flex;
      flex-wrap: wrap;
   }
   .label-block__item::before {
      position: absolute;
      content: "";
      top: 13px;
      left: 19px;
   }
   .details__item + .details__item {
      margin-left: 0;
   }
   .driverless-title {
      // margin-bottom: 80px;
      margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1960 - 320)));
   }
   .driverless__content {
      background-image: none;
      display: flex;
      flex-flow: wrap;
   }
   .driverless__content-tech {
      background-image: url("../images/driverless-bgx768.jpg");
      background-repeat: no-repeat;
      min-height: 600px;
   }
   .driverless__content-info,
   .driverless__card,
   .driverless__content-tech {
      min-width: 100%;
   }
   .driverless__items {
      display: flex;
      flex-wrap: wrap;
   }
   .driverless__items::before {
      pointer-events: none;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid #edc5a2;
      top: -27px;
      left: 0px;
   }
}
@media (max-width: 700px) {
   .business__content {
      background-image: none;
   }
   .content__box {
      background-image: url("../images/bisness-bgx410.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 196px;
   }
   .business__content {
      display: flex;
      flex-flow: wrap;
   }
   .business-content__inner,
   .content__box {
      min-width: 100%;
   }
   .content__box {
      order: 1;
   }
   .business-content__inner {
      order: 2;
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -52px;
      left: -42px;
      width: 105%;
      height: 130%;
   }
}
@media (max-width: 600px) {
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -52px;
      left: -48px;
      width: 109%;
      height: 130%;
   }
   .item-block {
      margin-bottom: 0;
   }
}

@media (max-width: 570px) {
   .footer__logo-box {
      padding-top: 0px;
      padding-bottom: 0;
   }
   .footer-menu {
      margin-bottom: 20px;
   }
   .footer-menu__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
   .footer-menu__list-item + .footer-menu__list-item {
      padding-left: 0;
   }
   .footer-social__inner {
      margin-bottom: 35px;
   }
}
@media (max-width: 520px) {
   .driverless__items {
      text-align: left;
      margin: 0 auto;
   }
}

@media (max-width: 500px) {
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -52px;
      left: -48px;
      width: 111%;
      height: 133%;
   }
}
@media (max-width: 410px) {
   .market {
      display: none;
   }
   .phone {
      margin-right: 0;
   }
   .phone__link {
      line-height: 0px;
   }
   .header__content {
      padding-top: 55px;
   }
   .header__content-inner {
      padding-bottom: 40px;
   }
   .business__content {
      background-image: none;
   }
   .content__box {
      background-image: url("../images/bisness-bgx410.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 196px;
   }
   .business__content {
      display: flex;
      flex-flow: wrap;
   }
   .business-content__inner,
   .content__box {
      min-width: 100%;
   }
   .content__box {
      order: 1;
   }
   .business-content__inner {
      order: 2;
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -40px;
      left: -40px;
      width: 111%;
      height: 124%;
   }
   .main-special {
      background-image: url("../images/special-bgx410.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
   }
   .special-box {
      padding-top: calc(46px + (100 - 40) * ((100vw - 320px) / (1960 - 320)));
      padding-bottom: calc(203px + (350 - 203) * ((100vw - 320px) / (1960 - 320)));
   }

   .label-block__item::before {
      position: absolute;
      content: "";
      top: 9px;
      left: 19px;
   }
   .driverless__content-tech {
      background-image: url("../images/driverless-bgx410.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-height: 190px;
   }
   .driverless__item {
      padding-bottom: 0;
      padding-top: 0;
   }
   .driverless__items::before {
      pointer-events: none;
      content: "";
      width: 100%;
      height: 106%;
      position: absolute;
      border: 1px solid #edc5a2;
      top: -27px;
      left: 0px;
   }
}

@media (max-width: 375px) {
   .footer-menu__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -45px;
      left: -45px;
      width: 116%;
      height: 125%;
   }
}

@media (max-width: 320px) {
   .social__img {
      width: calc(19px + (19 - 19) * ((100vw - 320px) / (1960 - 320)));
      height: calc(20px + (20 - 20) * ((100vw - 320px) / (1960 - 320)));
   }
   .social__item {
      /* width: 20px; */
      width: calc(19px + (19 - 19) * ((100vw - 320px) / (1960 - 320)));
      /* height: 20px; */
      height: calc(20px + (20 - 20) * ((100vw - 320px) / (1960 - 320)));
   }
   .business-content__items::after {
      pointer-events: none;
      position: absolute;
      content: "";
      border: 1px solid #edc5a2;
      top: -45px;
      left: -41px;
      width: 116%;
      height: 127%;
   }
}
